<%= render 'layouts/errors', {object: @favorite} %>

<div class='container text-center'>
<%= form_with(model:[@book, @favorite], local:true) do |f| %>
  <h4><%= f.label :book_id %></h4>
  <h4><%= f.collection_select :book_id, Book.all, :id, :title, prompt: true  %></h4>
<br>

<h4> Add a Review</h4>
<h4><%= f.text_area :review %></h4><br>
</br>
  <%= f.submit "Create", class: "btn btn-success"%>
<% end %>
</div>


