<%= render 'layouts/errors', {object: @favorite} %>

<%= form_with(model:[@book, @favorite], local:true) do |f| %>
    <%= f.label :book_id %>
    <%= f.collection_select :book_id, Book.all, :id, :title, prompt: true  %>
<br>

<h3>Add a Review</h3>
  <%= f.text_area :review %><br>
</br>
  <%= f.submit "Create" %>
<% end %>