<h1>Sign Up to Join Book Hub </h1>

<%= form_for(@user, url: '/signup') do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br />
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br />
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br />
    <%= f.submit "Sign Up" %>
  
  <% end %>
