<%= render 'layouts/errors', {object: @user} %>

<<div class='container text-center'>
<h1>Sign Up to Join Book Hub </h1>
<%= form_for(@user, url: '/signup') do |f| %>
  <div class='form-group'>
    <%= f.label :username, class: 'h4' %>:
    <%= f.text_field :username %><br>
    </div>
    <div class='form-group'>
    <%= f.label :email, class:'h4' %>:
    <%= f.email_field :email %>
    <br />
    </div>
    <div class='form-group'>
    <%= f.label :password, class: 'h4' %>:
    <%= f.password_field :password %>
    <br />
    </div>
    <%= f.submit "Sign Up", class:"btn btn-success" %>
 <% end %>
  </div>
 
  

  
 
  




 