<h1> Add a new book to your list!</h1>

<%= render 'layouts/errors', {object: @book} %>


<%= form_with(model:[@author, @book], local:true) do |f| %>
  
  <%= render 'form',  {f: f} %>
    
  
<h3>Or Add a New Author</h3>
   <%= f.fields_for :author do |auth_field| %>
   <%= auth_field.label :name %>
   <%= auth_field.text_field :name %>
   <br>
<% end %>
<br>
<%= f.submit "Create" %>
<% end %>


  