<!DOCTYPE html>
<html>
  <head>
    <title>Book Hub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <% if logged_in? %>
    You are logged in as <%= current_user.username%>!
    <%= form_with(url: '/logout', method: 'delete') do |f| %>
      <%= f.submit "Logout" %>
    <% end %>
  <% else %>
    <%= link_to("Login", '/login') %>|
    <%= link_to("Sign Up", '/signup') %>|
    <%= link_to("Log In With Google", '/auth/google_oauth2') %>
  <% end %>
    
     <p><%= flash[:message] %></p>

  </div>
  <%= yield %>
</body>
